.loginTitle{
    font-size: 50px;
}



.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://backiee.com/static/wpdb/wallpapers/1000x563/146431.jpg");
    background-size: cover;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label {
    margin: 10px  0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: wheat;
    border-radius: 10px;
    padding: 10px;

}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}